<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulario de libro</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" />
  </head>
  <body>
    <div th:replace="~{fragments/header.html :: div}"></div>

    <div class="container">
      <section class="d-flex align-items-center mb-3 mb-md-0 me-md-auto">
        <a href="/" class="link-body-emphasis text-dark text-decoration-none">
          <span class="bi bi-arrow-left fs-1 me-2"></span>
        </a>
        <h1 class="ms-2">Registrar Libro</h1>
      </section>
    </div>

    <div th:replace="~{/fragments/alert.html :: div}"></div>

    <div class="container">
      <section>
        <form action="/libro/registro" method="POST">
          <div class="mb-3">
            <input type="number" class="form-control" name="isbn" placeholder="ISBN" />
          </div>

          <div class="mb-3">
            <input type="text" class="form-control" name="titulo" placeholder="Título" />
          </div>

          <div class="mb-3">
            <input type="number" class="form-control" name="ejemplares" placeholder="Ejemplares" />
          </div>

          <div class="mb-3">
            <select class="form-select" name="idAutor">
              <option disabled selected>Seleccionar autor</option>
              <option th:each="autor : ${autores}" th:value="${autor.id}" th:text="${autor.nombre}"></option>
            </select>
          </div>

          <div class="mb-3">
            <select class="form-select" name="idEditorial">
              <option disabled selected>Seleccionar editorial</option>
              <option
                th:each="editorial : ${editoriales}"
                th:value="${editorial.id}"
                th:text="${editorial.nombre}"></option>
            </select>
          </div>

          <button type="submit" class="btn btn-primary">
            <i class="bi bi-journal-plus"></i>
            Agregar
          </button>
        </form>
      </section>
    </div>

    <div th:replace="~{fragments/footer.html :: div}"></div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"></script>
  </body>
</html>
