<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
        <span class="bi bi-book fs-3 me-2"></span>
      </a>
      <span class="mb-3 mb-md-0 text-body-secondary">&copy; thiagov2a</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3">
        <a class="text-body-secondary" href="https://www.instagram.com/thiagov2a/">
          <span class="bi-instagram fs-3 me-2"></span>
        </a>
      </li>

      <li class="ms-3">
        <a class="text-body-secondary" href="https://www.twitch.tv/thiagov2a">
          <span class="bi-twitch fs-3 me-2"></span>
        </a>
      </li>

      <li class="ms-3">
        <a class="text-body-secondary" href="https://twitter.com/thiagov2a">
          <span class="bi-twitter-x fs-3 me-2"></span>
        </a>
      </li>
    </ul>
  </footer>
</div>
